---
title: Remove personally identifiable information (PII) from feedback data
weight: 37
last_reviewed_on: 2021-10-01
review_in: 6 months
---

# Remove personally identifiable information (PII) from feedback data

The following content is for GOV.UK Insights team members that need to remove personally identifiable information (PII) from feedback data.

If you want to report PII to the GOV.UK Insights team, see documentation to [Report potential PII in feedback data](https://gov-uk.atlassian.net/wiki/spaces/AC/pages/3297345537/Report+potential+PII+in+feedback+data).

For more information on the feedback data, see the [Zendesk and SmartSurvey feedback data pipeline documentation](https://docs.data-community.publishing.service.gov.uk/reporting/zendesk-smartsurvey-feedback-data-pipeline/).

## Definition of PII

PII is any data that someone can use to identify a specific individual. For example:

- postal, email or IP addresses
- phone numbers
- social media posts or digital images
- geolocation, biometric, or behavioral data

PII can also be a combination of different pieces of information or data sets.

For example, a user flew to France on a certain date. This is not PII, but it is a small data set that could be combined with more information to identify the user.

You can remove PII from a single line of feedback data, or from multiple lines in bulk.

For more information on PII, see [the Information Commissioner's Office definition of personal data](https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/key-definitions/what-is-personal-data/).

## Before you start

To remove PII from feedback data, you must have:

- edit access to the BigQuery feedback data set - use the [DataAAA Slack channel](https://gds.slack.com/archives/C021V5Y6E3X) to ask the DataAAA team for this
- access to the Python3 notebooks and spreadsheets used for reporting - use the [GOV.UK Insights team Slack channel](https://gds.slack.com/archives/C015XA8KC4F) to ask the GOV.UK Insights team for this

## Remove PII from a single line of feedback data

There is a [Weekly PII removal from Feedback task](https://trello.com/c/wS8oRmKC/1020-weekly-pii-removal-from-feedback) in the GOV.UK Insights - Doing Trello board.

The GOV.UK Insights team assigns this task to a member of the team.

### Open the Feedback cleaning spreadsheet and Python notebook

1. Open the [Feedback cleaning spreadsheet](https://docs.google.com/spreadsheets/d/18iQIoK_idParTmGpoNtdnInQMlMcxcWnoJmXJvtJK3A/edit#gid=925108377) to see which PII you need to remove.
1. Open the [Feedback PII cleansing Python notebook](https://colab.research.google.com/drive/1C7D5NVO9-UYPlm4_FoBS-RSuBrvjTeZE) that contains the code to remove the PII.
1. In the notebook, select __Connect__ to start Python3.

<h3 id="Authenticate your access to the feedback data set">Authenticate your access to the feedback data set</h3>

1. Hover your cursor over the __Set up__ cell in the Python notebook to show the run icon and select the run icon to start the authentication process.
1. Select the authentication link in the text box and then select your Google account.
1. Follow the on screen prompts and copy the __Sign in code__ when it appears.
1. Go back to the text box in the notebook and paste the sign in code into the __Enter verification code__ field.
1. Select __Enter__ to complete authentication.

### Complete the __User input__ cell

Copy the PII from the Feedback cleaning spreadsheet to the __User input__ cell in the interactive Python notebook.

1. Copy the __Date of feedback__ data to the __Date_YYYYMMDD__ field. Convert the date format when doing this.
1. Use the __What was the source of the feedback?__ data to select the correct __Source__ from the drop down menu.
1. Copy the __What page was the feedback left on?__ data to the __Page_Path__ field.
1. Copy the __What question is the offending data in?__ data to the __Field__ field.
1. Copy the __What specifically should be removed?__ data to the __To_Redact__ field.
1. Hover your cursor over the cell and select the run icon.

The code has finished running when there is a green tick next to the run icon.

### Remove the PII from the feedback data

Go to the __Update query__ cell in the Python notebook. This cell has multiple code blocks:

- the first code block makes sure the PII to clean only matches one specific line in the feedback data set
- the second code block allows you to select a specific line to change in the feedback data set
- the third code block shows a comparison between the data set with the PII and what the data set will look like without the PII
- the fourth code block makes the change and removes the PII from the feedback data set

Run the first 3 code blocks in sequence. Do not run the fourth code block until you have checked you are changing the correct line in the feedback data set.

When you have run the fourth code block, you have removed PII from a single line of the feedback data set.

Check you have removed the PII correctly by:

- manually checking the feedback data set
- re-running the PII removal process

Update the __Cleaned__ column in the [feedback cleaning spreadsheet](https://docs.google.com/spreadsheets/d/18iQIoK_idParTmGpoNtdnInQMlMcxcWnoJmXJvtJK3A/edit#gid=925108377).

## Remove or redact PII from multiple lines of feedback data

Every month, the GOV.UK Insights team removes or redacts PII from multiple lines of feedback data.

### Open the PII pattern examples spreadsheet and Python notebook

1. Open the [PII pattern examples spreadsheet](https://docs.google.com/spreadsheets/d/1ClG9HCmDckR8xhmhBZE57B5vp1ZVEw9yYtXqDLqj6aI/edit#gid=0) to see which PII you need to remove.
1. Open the [Bulk Feedback PII cleansing Python notebook](https://colab.research.google.com/drive/1TlII81t3yMW0ReTXbokPD9wDC-DyZcyM?authuser=1#scrollTo=b2dSckR2DAtO) which contains the code to clean the data.
1. In the notebook, select __Connect__ to start Python3 running.

<h3 id="Authenticate your access to the feedback data set">Authenticate your access to the feedback data set</h3>

1. Hover your cursor over the __Set up__ cell in the Python notebook to show the run icon. Select the run icon to start the authentication process.
1. Select the authentication link in the text box and then select your Google account.
1. Follow the on screen prompts and copy the __Sign in code__.
1. Go back to the text box, and paste the sign in code into the __Enter verification code__ field.
1. Select __Enter__ to complete authentication.

### Enter a regex into the __User input__ cell

1. Create a regular expression (regex) to identify the PII you need to remove from the feedback data set.
1. Enter the regex into the __To_Redact__ field in the User input cell.
1. Hover your cursor over the cell and select the run icon.

The code has finished running when there is a green tick next to the run icon.

### Check you are removing or redacting the correct PII

You can either completely remove lines of data in the feedback data set, or redact PII from lines of data without removing those entire lines.

1. Hover your cursor over the __getting the data to check__ cell and select the run icon. This creates a spreadsheet in your personal drive that:
    - contains the data your regex will remove or redact from the feedback data set
    - shows what the feedback data set will look like after removing or redacting the PII
1. Open the spreadsheet using the link at the bottom of the cell.
1. Check the spreadsheet to make sure your regex will remove or redact the correct PII from the feedback data set.
1. Change the spreadsheet by:
    - deleting any rows of PII that you do not want to change in the feedback data set
    - changing any rows to make sure you correctly redact PII without removing the entire line of data

Once you are happy with the spreadsheet, you can run the code to remove or redact the PII from the feedback data set.

### Remove or redact the PII from the feedback data

To remove or redact the PII from the feedback data, run 3 of the 4 code blocks in the __once checked and you are happy, time to make the change__ cell.

#### Select the spreadsheet

1. Copy the spreadsheet ID from the spreadsheet URL. For example, if the URL is `https://docs.google.com/spreadsheets/d/1OjED4maDKnVasGFkmtg7Nenl1Ve62cU6RTdcOWsuabI/edit#gid=0`, the spreadsheet ID is `1OjED4maDKnVasGFkmtg7Nenl1Ve62cU6RTdcOWsuabI`.
1. Paste the spreadsheet ID into the `sheet_id` field in the first code block in the __once checked and you are happy, time to make the change__ cell.
1. Hover your cursor over that code block and select the run icon.

#### Remove or redact the PII

1. Run the second code block to reformat the unique IDs for every row of data that is going to be changed.
1. Run either the third or fourth code block:
  - run the third code block to completely remove lines of data in the feedback data set
  - run the fourth code block to redact PII from lines of data without removing those entire lines

Check you have removed the PII correctly by:

- manually checking the feedback data set
- re-running the PII removal process

Once you are sure you have removed or redacted the correct PII, delete the spreadsheet by manually deleting it from your personal drive, or by running the __Cleanup__ cell in the notebook.
