---
title: Looker Studio best practice
weight: 2
last_reviewed_on: 2024-06-08
review_in: 6 months
---

# Looker Studio best practice
<span style="color:red">This page is a work in progress.</span>

You can visualise GOV.UK GA4 data in Looker Studio via the standard 'Google Analytics' connector or by connecting to the GA4 data stored in BigQuery.

## Using the GA4 (Data API) Looker Studio connector

You can easily connect to the GA4 data in Looker Studio using the 'Google Analytics' connector which is built and supported by Looker Studio.
This connects to the GA4 data using the [Google Analytics Data API](https://developers.google.com/analytics/devguides/reporting/data/v1).

If you are a GDS staff member, please use the [shared data connections](https://trello.com/c/N8C3H9KT/55-looker-studio-data-sources) already set up.
This is set up with the [correct settings](/tools/looker-studio/#data-connections), and using this connection ensures that reports will not break when the creator leaves GDS. 

Further guidance on Looker Studio data connections can be found on the [Looker Studio tools page](/tools/looker-studio/).

### Best practice 

#### Cardinality and sampling

Watch out for the impact of high [cardinality](https://support.google.com/analytics/answer/12226705) in your reports.
Pay attention to the [(other) row](https://support.google.com/analytics/answer/13331684) and the totals of tables when filtering.
Data in (other) can be inadvertently filtered out and result in misleading tables or visualisations.

If you are trying to figure out whether a certain chart will be impacted by cardinality or sampling, you can use the [Query Explorer](https://ga-dev-tools.google/ga4/query-explorer/).
If you input the dimensions, metrics, and filters you are using in the Query Explorer and scroll to the bottom of the JSON response tab, you will be able to see the `dataLossFromOtherRow` or `samplingMetadatas`.
This can be useful when you are trying to work out what's happening in a Looker Studio chart that doesn't look quite right, or which dimensions will give better results.

If your data appears to be impacted in a highly detrimental way by cardinality, you can force it to use sampling instead by adding an extra dimension or two.
These dimensions don't need to be visible in the chart itself - if you filter on a dimension which makes no difference to your data, it still changes which backend tables GA4 uses to process the query.
Neither option is ideal, but a 7-day period sampled at about 75% is a lot more meaningful than some nonsensical metrics for any time period.
Alternatively, if you want 100% accuracy, try selecting 5 days including at least a Saturday or a Sunday so it includes some representative weekend behaviour.

Regrettably, Looker Studio currently [does not indicate if data from Google Analytics is sampled](https://support.google.com/looker-studio/answer/7555948).

Be particularly careful when using same-day data.
GA4 data on GOV.UK [takes several hours to be processed](https://support.google.com/analytics/answer/12233314?hl=en&ref_topic=13818299&sjid=14243600463504287898-EU), so same-day data is often very unreliable.
It is usually better to set your date range to exclude today's data, unless there is a specific reason you need to look at today.


#### Quotas

Be aware that Looker Studio reports that connect to Google Analytics 4 data are subject to [Google Analytics Data API quotas](https://developers.google.com/analytics/devguides/reporting/data/v1/quotas).
You can use the ‘Google Analytics token usage’ information (which you can find in the menu when you right click whilst editing a dashboard) to assess how many tokens you are using.
You can also use the ‘pause updates’ feature whilst creating new charts or carrying out a lot of edits on a report to minimise the number of tokens used.

## Use the BigQuery GA4 data in Looker Studio

The GA4 data stored in BigQuery can be used in Looker Studio.

If you are a member of GDS staff, please use the [shared data connections](https://trello.com/c/N8C3H9KT/55-looker-studio-data-sources).

If you are not GDS staff, we recommend you use a custom query. You can do this by:

1. Clicking to [add a data source](https://support.google.com/looker-studio/answer/6300774?hl=en) 
2. In the ‘Connect to data’ panel, selecting ‘BigQuery’
3. In the left-hand menu, selecting ‘Custom query’
4. Entering your billing project ID
5. Entering a query to select the fields needed using a WHERE statement to define the date range required
6. Tick the checkbox to ‘enable date range parameters’ if needed
7. Selecting ‘Add’ 


An example of a SQL query that could be used in step 5 above is: 

```SQL
SELECT * 
FROM `ga4-analytics-352613.flattened_dataset.flattened_daily_ga_data_*`
WHERE _TABLE_SUFFIX BETWEEN @DS_START_DATE AND @DS_END_DATE
```


### Best practice 

Where possible, use the flattened data source. The flattened tables are much more efficient to query, and should be easier to use as well.

If you are connecting to BigQuery data in Looker Studio, make sure to define your date range.
If you would like to use a dynamic date range with BigQuery data and are using a custom query, please enable the date range parameters in the connection so that Looker Studio only queries the dates required.
To do this you will also need to include the date range parameters in your querry - for example, `WHERE _TABLE_SUFFIX BETWEEN @DS_START_DATE AND @DS_END_DATE`.

Use the ‘pause updates’ feature whilst creating new charts or carrying out a lot of edits on a report to minimise the number of queries run.

Avoid creating new connections to BigQuery datasets in Looker Studio as Looker Studio can query the entire dataset whilst connecting it to the Looker Studio dashboard, which can be very expensive.
Use shared connections where possible. 