---
title: Google Cloud Platform projects
weight: 2
last_reviewed_on: 2024-06-04
review_in: 6 months
hide_in_navigation: true
---

# Google Cloud Platform projects

This section contains guidance on various Google Cloud Platform projects maintained by Data Services.

All of our data is stored in the europe-west2 GCP region.


## GA4 analytics
<span>
<details>
<summary>[This project](https://console.cloud.google.com/welcome?project=ga4-analytics-352613) contains all work around the collection and use of GA4 data.</summary>

There are quotas set up on this project to limit the amount of BigQuery data that can be queried, this is to provide a safety net for analysts and to protect the organisation from run away costs.

The quotas are 1TB per user per day and a global limit of 3TB per day.

</details>
</span>


## Universal analytics
<span>
<details>
<summary>[This project](https://console.cloud.google.com/welcome?project=govuk-bigquery-analytics) contains all work around the collection and use of Universal Analytics data.</summary>

There are quotas set up on this project to limit the amount of BigQuery data that can be queried, this is to provide a safety net for analysts and to protect the organisation from run away costs.

The quotas are 1TB per user per day and a global limit of 3TB per day.

</details>
</span>


## GDS BigQuery reporting

<span>
<details>
<summary>[This project](https://console.cloud.google.com/welcome?project=gds-bq-reporting) is used to enable use of our GA4 data in various reporting tools while monitoring costs and access.</summary>

There are currently no quotas on this project, but usage and spend is monitored via the log data.

</details>
</span>

## GDS BigQuery data

<span>
<details>
<summary>[This project](https://console.cloud.google.com/welcome?project=gds-bq-data) is used to store data for use in various reporting tools while monitoring costs and access.</summary>

The quotas are 1TB per user per day and a global limit of 3TB per day. Usage and spend is monitored via the log data.

</details>
</span>

## GDS GA Archive

<span>
<details>
<summary>[This project](https://console.cloud.google.com/welcome?project=gds-ga-archive) is used to store historic Universal Analytics data from properties managed by GDS.</summary>

There are currently no quotas on this project, but usage and spend is monitored via the log data.

</details>
</span>