---
title: GOV.UK GA4 data quality
weight: 1
last_reviewed_on: 2024-09-18
review_in: 6 months
---

# GOV.UK GA4 data quality
<span style="color:red">This page is a work in progress.</span>

Google Analytics 4 (GA4) is used to collect data on the usage of GOV.UK.

Information on how to understand and use this data can be found in the [Analysis section of this site](/analysis/govuk-ga4/).

There are a few known issues with this data, which are detailed below.


## Data quality notes and annotations 

We are currently developing a spreadsheet and Looker Studio report which contain annotations of our GOV.UK GA4 data. 

## Known issues with the GOV.UK GA4 data

Note: this is a list of some larger scale issues which impact our data collection. 
Shorter term bugs and issues with our tracking can be found in the above spreadsheet and Looker Studio.

### Data quality variance and content over time 

Data was first collected into this property on 23/09/22.
The events captured have changed significantly over time, and so early data quality may be patchy. 

### Bot traffic 

In GA4, [traffic from known bots is automatically excluded](https://support.google.com/analytics/answer/9888366?hl=en).

We do not know how much other bot traffic is being recorded in our data.

### Users we miss 

We know a chunk of our users do not accept analytics cookies so we do not collect any data from them.

Some users may also be using ad blockers which inhibit Google Analytics from functioning.

### Incorrect event tracking
#### Assumptions in navigation tracking

In order to capture users clicking on links in ways other than the usual left or primary click, we set up navigation (link) tracking so that all clicks on links trigger a navigation event to fire.

This may mean some false positives in the data, as some right (secondary) clicks or other clicks may not necessarily lead to the user navigating through the link in question.
For example, a user might be right clicking on a link to copy it or inspect it.
If data users would like to exclude these clicks from their dataset, they can do so using the 'method' custom dimension.

This is also why some duplicate tracking may be occuring with the navigation and copy tracking, as users who right click and select to ‘Copy’ a link will trigger both navigation and copy events.


### Incorrect information in dimensions  
#### Inconsistencies in 'outbound' values in attachment events

On pages with attachment links, clicks on different links to download files come through with the `outbound` dimensions equalling 'true' as would be expected (as these files are hosted on https://assets.publishing.service.gov.uk).
However, clicks on the preview link (to 'View online') come through with the `outbound` value of 'false' even through the preview is also hosted on https://assets.publishing.service.gov.uk.

This is because in the source HTML the second link only has the page path, and is being redirected to the assets domain.


#### Issues with users accessing GOV.UK in different languages  

We capture what language a page was written in in the `content_language` dimension. The majority of pages on GOV.UK are written in English, although there are a few pages in [Ukrainian](https://www.gov.uk/guidance/apply-for-a-ukraine-family-scheme-visa.uk), [Russian](https://www.gov.uk/guidance/apply-for-a-ukraine-family-scheme-visa.ru), and other languages.

Separately, the user's browser language is captured in the `language` dimension.
However, there are a number of ways users can translate page content - for example, using browser add-ons.
If the browser is translating the page content after the `page_view` event is sent, then the `page_view` will be sent with details in the original language (in most cases, English), though the text and other dimensions sent with subsequent interactions on that page might be translated.

There are a few dimensions that we have hard-coded in English to make them easier to analyse, for example the 'section' value on related content link clicks, but in most cases this was not possible due to the way content is surfaced via the Content API on GOV.UK.

#### Issues with link domain information in navigation tracking on pages with mistyped URLs
When there is an extra / in the URL, the 'Link domain' information is incorrect, coming through as the first part of the path instead of the domain.
This can be seen on the live site, for example if you interact with the Contents links on the `https://www.gov.uk//guidance/cost-of-living-payment#low-income-benefits-and-tax-credits-cost-of-living-payment-eligibility` page.
Strictly, this URL should not be valid, but it (and many other incorrect URLs) do work to load content on GOV.UK.

Use of URLs like this is rare and so this should not cause too much of a data quality issue.

#### Issues with publication and update dates
The `first_published_at`, `public_updated_at` and `updated_at` dates sent with page view events may be misleading.

This is particularly likely to be the case for content items published between 11pm and 1am (an hour either side of midnight) depending on whether the item is published during Greenwich Mean Time (GMT) or British Summer Time (BST).
This is because to extract the date, which we record in the custom dimension, we strip out the time information from the Content API timestamp to leave the date in YYYY-MM-DD format. 

Previous work looking into timestamps associated with Whitehall Publisher CSVs identified that the Content API timestamps are in GMT, so for example an item timestamped as '2014-08-31 23:00:00' is actually displayed on the page as '1 September 2014' (published at midnight BST).

We have not yet investigated whether this has an impact on these GA4 dimensions.
