---
title: GOV.UK GA4 data quality
weight: 1
last_reviewed_on: 2024-08-28
review_in: 6 months
---

# GOV.UK GA4 data quality
<span style="color:red">This page is a work in progress.</span>

Google Analytics 4 (GA4) is used to collect data on the usage of GOV.UK.

Information on how to understand and use this data can be found in the [Analysis section of this site](/analysis/govuk-ga4/).

There are a few known issues with this data, which are detailed below.


## Data quality notes and annotations 

We are currently developing a spreadsheet and Looker Studio report which contain annotations of our GOV.UK GA4 data. 

## Known issues with the GOV.UK GA4 data

### Data quality variance and content over time 

Data was first collected into this property on 23/09/22.
The events captured have changed significantly over time, and so early data quality may be patchy. 

### Bot traffic 

In GA4, [traffic from known bots is automatically excluded](https://support.google.com/analytics/answer/9888366?hl=en).

We do not know how much other bot traffic is being recorded in our data.

### Users we miss 

We know a chunk of our users do not accept analytics cookies so we do not collect any data from them.

Some users may also be using ad blockers which inhibit Google Analytics from functioning.