---
title: The history of performance measurement on GOV.UK
weight: 25
last_reviewed_on: 2024-12-13
review_in: 6 months
---

<% content_for :head do %>
  <%= partial 'partials/cookie_wrapper' %>
<% end %>

# The history of performance measurement on GOV.UK

<span style="color:red">This page is a work in progress.</span>

This page provides some information on the history of performance measurement on GOV.UK.
This may provide useful context for any new starters to GDS.

## January-February 2012: GOV.UK beta

The GOV.UK beta was launched in January 2012 with the 667 most common and important tasks for everyday users (what we now refer to as ‘mainstream’ content).
These tasks serve the needs of a huge percentage of users.

‘Inside government’ is launched shortly afterwards for ‘specialist’ users. These are the engaged minority, who visit GOV.UK frequently and for longer periods of time, often for their jobs or to keep track of what government is doing.
The focus is on the most common user needs and content formats for departments - news, ministerial speeches, publications and policy.

The team used visitor traffic data from Directgov, Business Link, and existing departmental websites to work out what to keep and what to group together.

Explore more:

- [GDS blog: This is why we are here](https://gds.blog.gov.uk/2012/01/31/this-is-why-we-are-here/)
- [GDS blog: Introducing the next phase of the GOV.UK beta](https://gds.blog.gov.uk/2012/02/28/introducing-the-next-phase-of-the-gov-uk-beta/)

## October 2012: GOV.UK goes live

GOV.UK moved from beta to live in October 2012.
Created with users at its heart, rather than the needs of government, GOV.UK aimed to deliver a service that is simpler, clearer and faster for users.

The performance platform was released in beta - a single dashboard, showing daily/weekly traffic and usage by format.
Each panel was designed so that an action or decision can be taken based on the information shown.
This was followed by a separate dashboard for inside government.

Individual formats had defined success criteria, for example:

- guides: user spends at least 7 seconds on the page, or clicks on one of the left hand section headings, or a link within the body of the page
- smart answers: user clicks on 'Start now', answers all of the questions and then arrives at the final result page

Explore more:

- [GDS blog: Building a performance platform for GOV.UK](https://gds.blog.gov.uk/2012/10/03/building-a-performance-platform-for-gov-uk/)
- [GDS blog: How is GOV.UK performing?](https://gds.blog.gov.uk/2012/10/23/performance-platform-beta/)
- [Blog: 7 types of feedback that helped make GOV.UK awesome](https://blog.quickpeople.co.uk/2013/06/06/7-types-of-feedback-that-helped-make-gov-uk-awesome/)
- [web.archive.org: GOV.UK dashboard](https://web.archive.org/web/20121030092130/https://www.gov.uk/performance/dashboard)
- [web.archive.org: GOV.UK inside gov dashboard](https://web.archive.org/web/20130320133523/https://www.gov.uk/performance/dashboard/government)

## 2013: Standardising measurement of digital transactions

In January 2013, GDS released data on the cost of transactions via transaction explorer, which later became part of the performance platform.
Publishing 4 service level KPIs was made part of the service standard:

- [Measuring digital take-up](https://www.gov.uk/service-manual/measuring-success/measuring-digital-take-up)
- [Measuring user satisfaction](https://www.gov.uk/service-manual/measuring-success/measuring-user-satisfaction)
- [Measuring cost per transaction](https://www.gov.uk/service-manual/measuring-success/measuring-cost-per-transaction)
- [Measuring completion rate](https://www.gov.uk/service-manual/measuring-success/measuring-completion-rate)

Explore more:

- [Data in government blog: Changing the performance platform](https://dataingovernment.blog.gov.uk/2016/06/08/changing-the-performance-platform/)
- [web.archive.org: Transactions explorer](https://web.archive.org/web/20130123055924/http://transactionsexplorer.cabinetoffice.gov.uk/)
- [Press release: Government publishes cost of transactional services for the first time](https://www.gov.uk/government/news/government-publishes-costs-of-transactional-services-for-the-first-time)

## February 2014: Performance platform redesigned

The performance platform dashboards were combined into the "site activity" dashboard we have today.

Explore more:

- [Data in government blog: New GOV.UK site activity dashboard](https://dataingovernment.blog.gov.uk/2014/02/28/new-gov-uk-site-activity-dashboard/)

## June 2014: GOV.UK Proposition published
In June 2014, GDS published the 'GOV.UK Proposition' which set out what GOV.UK is for.

"GOV.UK is designed to meet the needs that UK citizens and residents have of government. It also caters for the needs of foreign nationals looking to visit, live or do business in the UK and anyone looking for information about the work of the UK government."

It set out 8 areas of content GOV.UK was to provide:

- Government services
- Policy and involving people (transparency)
- Responding to major events
- Helping people and businesses follow the law
- Official information only the government has
- Policies and regulations (for professionals and specialists)
- Support schemes
- Raising awareness about important issues (campaigns)

Campaigns were moved off of GOV.UK onto a separate platform.

Explore more:

- [GOV.UK proposition](https://www.gov.uk/government/publications/govuk-proposition)

## December 2014: Transition to single GOV.UK domain finished

In 15 months, we moved from each of the government’s 300+ agencies and arm’s length bodies (ALBs) having their own website to one domain.
The staggered approach to transition means that the shape and scale of content isn’t fully appreciated.
This makes grouping and labelling holistically difficult and results in multiple separate taxonomies.

Explore more:

- [Inside GOV.UK blog: 300+ websites to just 1 in 15 months](https://insidegovuk.blog.gov.uk/2014/12/19/300-websites-to-just-1-in-15-months/)

## 2017: Google Analytics data collection improved

At the end of 2016 the Performance Analyst community ran a workshop to improve the usefulness and reliability of Google Analytics data, generating a list of improvements that should be made.

During the course of 2017 most of the improvements were implemented.
The number of custom dimensions being used to store metadata about pages and events was more than doubled, and events were increasingly used to record fine detail of things like interactions with navigation elements.

## April 2017: GOV.UK adopted quarterly missions
In Q1 2017, GOV.UK moved to quarterly roadmaps, with an emphasis on teams measuring the impact of their work quantitatively.
The intent was to relate everything to a single top level KPI, the "Have you found what you're looking for?" (HYFWYLF) metric.

At the same time, the performance analyst community introduced a new framework for performance measurement, based on setting hypotheses about the impact of each team's work.

Explore more:

- [Inside GOV.UK blog: 2017/2018 Roadmap](https://insidegovuk.blog.gov.uk/2017/02/13/the-2017-to-2018-gov-uk-roadmap/)
- [GDS blog: Quarterly missions: a new way of working](https://gds.blog.gov.uk/2017/08/14/quarterly-missions-a-new-way-of-working/)