---
title: GCP
weight: 70
last_reviewed_on: 2023-11-20
review_in: 6 months
---

# Google Cloud Platform

This section contains guidance on various Google Cloud Platform Projects maintained by Data Services:


## GA4 analytics
<span>
<details>
<summary>[This project](https://console.cloud.google.com/welcome?project=ga4-analytics-352613) contains all work around the collection and use of GA4 data.</summary>

There are quotas set up on this project to limit the amount of BigQuery data that can be queried, this is to provide a safety net for analysts and to protect the organisation from run away costs.

The quotas are 1TB per user per day and a global limit of 3TB per day.

</details>
</span>


## Universal analytics
<span>
<details>
<summary>[This project](https://console.cloud.google.com/welcome?project=govuk-bigquery-analytics) contains all work around the collection and use of Universal Analytics data.</summary>

There are quotas set up on this project to limit the amount of BigQuery data that can be queried, this is to provide a safety net for analysts and to protect the organisation from run away costs.

The quotas are 1TB per user per day and a global limit of 3TB per day.

</details>
</span>

## GA4 early access

<span>
<details>
<summary>[This project](https://console.cloud.google.com/welcome?project=ga4-early-access) is used to enable access to our GA4 data to other government departments while monitoring costs and access.</summary>

There are quotas set up on this project to limit the amount of BigQuery data that can be queried, this is to provide a safety net for analysts and to protect the organisation from run away costs.

The quotas are 1TB per user per day and a global limit of 3TB per day.

</details>
</span>