@import "govuk_tech_docs";

.cookie-js-info {
  display: none;
}

.js-enabled {
  .cookie-js-info {
    display: block;
  }
  .cookie-nojs-info {
    display: none;
  }
}

.cookie-settings__confirmation {
  display: none;
}