@import "govuk_tech_docs";
@import "govuk_publishing_components/components/_cookie-banner";
@import "govuk_publishing_components/components/_button";
@import "govuk_publishing_components/components/_radio";

.cookie-js-info {
  display: none;
}

.js-enabled {
  .cookie-js-info {
    display: block;
  }
  .cookie-nojs-info {
    display: none;
  }
}

.cookie-settings__confirmation {
  display: none;
}