---
title: User feedback data
weight: 9
last_reviewed_on: 2024-04-24
review_in: 6 months
---

# User feedback data

<span style="color:red">This page is a work in progress.</span>

User feedback data collected when a user submits feedback on www.gov.uk.

Information on the processing of this data can be found [below this page](/data-sources/user-feedback/govuk-feedback-processing/).

## Access
### Location

## Schema

## Retention
