---
title: Use the GOV.UK GA4 data
weight: 4
last_reviewed_on: 2024-04-24
review_in: 6 months
---

# Use the GOV.UK GA4 data
<span style="color:red">This page is a work in progress.</span>

Google Analytics 4 (GA4) is used to collect data on the usage of GOV.UK.
More information about this data can be found on the [GOV.UK GA4 data source page](/data-sources/ga/ga4/).

There are a number of different ways this data can be accessed, analysed and visualised.
This section contains information and best practice on how the GOV.UK GA4 data can be accessed by using:

- the [Google Analytics 4 user interface](/analysis/govuk-ga4/use-ga4/ga4-interface/)
- the [default GA4 data connection in Looker Studio](/analysis/govuk-ga4/use-ga4/looker-studio/)
- [BigQuery](/analysis/govuk-ga4/use-ga4/bigquery/)
- the [data stored in BigQuery with Looker Studio](/analysis/govuk-ga4/use-ga4/looker-studio/#use-the-bigquery-ga4-data-in-looker-studio)
- the [Google Analytics Data API](/analysis/govuk-ga4/use-ga4/analytics-data-api/)

The GA4 data can also be acccessed via:

- the [Content Data app](data-sources/content-data-app/)
- Data Services' custom data tools