---
title: Use the Content Data app
weight: 34
last_reviewed_on: 2024-10-21
review_in: 6 months
---

# Use the Content Data app
<span style="color:red">This page is a work in progress.</span>

The [Content Data app](https://docs.publishing.service.gov.uk/apps/content-store.html) helps users find key metrics about the performance of pages on www.gov.uk.

More information on the data source itself can be found on the [Content Data app data source page](/data-sources/content-data-app/#content-data-app).

## Get access to the Content Data app

To access the Content Data app, you should contact your Content SPOC, who can request your access to Signon.

## Content Data data definitions

One of the key data sources supplying the Content Data app changed in late 2023, when the Content Data app was migrated from Universal Analytics (UA) to use [Google Analytics 4 (GA4) data](/data-sources/ga/ga4/).
The app previously extracted Universal Analytics data from the Google Analytics Reporting API v4, but as of December 2023 it now draws on a table of metrics stored in BigQuery, based on the [raw GA4 data](/data-sources/ga/ga4-bq/).
This does mean the exact definition of some metrics has changed.
The table below reveals potential differences when looking at Content Data over this period.

| Field name | Definition pre-December 2023 (UA) | Definition since December 2023 (GA4) | Notes |
| --- | --- | --- | --- |
| Unique page views | The [`uniquePageviews` metric returned from the API](https://github.com/alphagov/content-data-api/pull/2005/commits/e474afb5f727e778466ba4ee277a9a884191e1ff#diff-f889fa6dea35fd3a8d5b23c9341a0aeadc5eb52fca2d293a3f6c6c59397b05ecL86) | A count of distinct session IDs attached to page_view events on the page in question | The figures returned will differ between UA and GA4 due to the [change in the definition of a session](/analysis/govuk-ga4/understand-ua-differences/#sessions) |
| Page views | The total number of page views the selected page received in the given period - the [`pageviews` metric returned from the API](https://github.com/alphagov/content-data-api/pull/2005/commits/e474afb5f727e778466ba4ee277a9a884191e1ff#diff-f889fa6dea35fd3a8d5b23c9341a0aeadc5eb52fca2d293a3f6c6c59397b05ecL85) | The total number of page views the selected page received in the given period - a count of distinct session IDs attached to page_view events on the page in question | Should be very similar across UA and GA4 |
| Page views per visit |  |  | The figures returned will differ between UA and GA4 due to the [change in the definition of a session](/analysis/govuk-ga4/understand-ua-differences/#sessions) |
| Searches from page | The [`searchUniques` metric returned from the API](https://github.com/alphagov/content-data-api/pull/2064/files#diff-ffdec38327091d6fe4265ad5e83274af06090b43cbf3aee0ba46ecbf9c2d247aL74) where the page in question was the `searchStartPage` | The number of `search` events sent on the page | These are potentially quite different metrics |
| Number of feedback comments | The number of [Feedex comments returned from the support API](https://github.com/alphagov/content-data-api/blob/main/app/domain/etl/feedex/service.rb#L44) | No change | Data from Feedex - not impacted by the migration to GA4 |
| Users who found page useful | The events with `Event action` 'ffYesClick' divided by the [events with the `Event action` 'ffNoClick' and 'ffYesClick' returned from the API](https://github.com/alphagov/content-data-api/pull/2044/files#diff-0577c687acdad31adaf559e2a057f9170259c1a0d1da8168aceb111578f22d1fL79) | The form_submit events with ui_text 'Yes' [divided by all the 'Yes' and 'No' form_submit events](https://github.com/alphagov/content-data-api/blob/main/app/domain/etl/ga/user_feedback_processor.rb#L49) | |

## CSV export

You can also export a CSV of data from the app's [search results page](https://content-data.publishing.service.gov.uk/content).
This contains all the metrics stored (GA4, feedback and word count/reading time) on the pages returned by your search as well as each page's title, organisation and document type.