---
title: Editing the Data Community technical documentation
weight: 24
last_reviewed_on: 2025-04-10
review_in: 6 months
hide_in_navigation: true
---

# Editing the Data Community technical documentation

<span style="color:red">This page is a work in progress.</span>

Xxxx.

## Markdown

There are many more comprehensive guides to markdown online, but key elements used frequently include:

| Element | Markdown syntax | Notes |
| --- | --- | --- | 
| Headings | \#H1, \#\#H2, \#\#\#H3 | --- | 
| **Bold** | \*\*bold text\*\* | --- | 
| `Code` | \`code\` | --- | 
| Link | \[title\](https://www.example.com) | --- | 

## CSS formatting

CSS formatting can also be written in-line using the HTML style attribute to change the appearance of text.

For example, when indicating that a page is a work-in-progress, we add CSS to change the colour to highlight the message: `<span style="color:red">This page is a work in progress.</span>`. 
