---
title: GA4 PII process
weight: 3
last_reviewed_on: 2024-01-15
review_in: 6 months
hide_in_navigation: true
---

# PII process (Google Analytics data)
<span style="color:red">**This page is a draft policy**</span>.

Personally Identifable Information (PII) is data that could potentially identify a specific individual.

We do our best to apply redaction to ensure that we do not collect any PII into Google Analytics (see our [documentation on this](/data-sources/ga4/#data-processing-and-modification)), but it is still possible that some slips through on occasion.
If you notice any PII in GA4, please raise a Zendesk ticket as quickly as possible.

## Process
The Analytics team will:

 - Confirm whether the data identified is Personally Identifable Information 
 - Ascertain how long and why this data has been collected
 - Report it to our Data Protection & Privacy Specialist
 - Delete the data, if appropriate
 - Write an [incident report](https://docs.publishing.service.gov.uk/manual/incident-reports.html), if appropriate 

