---
title: GOV.UK Knowledge Graph
weight: 10
last_reviewed_on: 2025-02-18
review_in: 6 months
---

# GovGraph (GOV.UK Knowledge Graph)

<span style="color:red">This page is a work in progress.</span>

The GOV.UK Knowledge Graph, or GovGraph, tables hold GOV.UK content data in BigQuery for analytical workloads.

## Access
Access to the BigQuery dataset is limited to GDS staff.

For access, contact the #data-engineering community.

### Location
The data is located in BigQuery in the `govuk-knowledge-graph` project.

## Set-up
The GovGraph Google Cloud Projects also include infrastructure for the infrastructure for the [GovSearch app](/tools/govsearch/), which uses data from GovGraph.

Read the documentation in the [GitHub repository](https://github.com/alphagov/govuk-knowledge-graph-gcp).
