---
title: GA Settings Database
weight: 10
last_reviewed_on: 2024-11-22
review_in: 6 months
---

# GA Settings Database
The Settings Database contains a daily export of the settings applied across GDS' [Google Analytics](/tools/ga/) accounts.
The purpose of this data is to enable monitoring of changes to the configuration of our GA accounts and properties.

For an example of this data in use, see the [GA Settings Database Looker Studio dashboard](/products/ga-settings-database/).

## Access
### Location
The data is stored in BigQuery in the [GA4 Analytics project](/tools/google-cloud-platform/gcp-projects/#ga4-analytics).
The data can be found in the `ga4-analytics-352613.analytics_settings_database` dataset.

## Set-up
### Data collection
This [GitHub repository](https://github.com/alphagov/analytics-settings-database) contains the code used to query, structure, and save this data.

A Google Cloud Run Function set up using this code, also in the [GA4 Analytics project](/tools/google-cloud-platform/gcp-projects/#ga4-analytics), queries the [Google Analytics Admin API](https://developers.google.com/analytics/devguides/config/admin/v1) and saves the settings returned on a given date in a series of tables in the `ga4-analytics-352613.analytics_settings_database` dataset.

### Schema
Data in each table is partitioned by ingestion date (`_PARTITIONTIME`).

#### Tables
<span>
<details>
<summary>ga4_account_summaries</summary>

| field name | type | mode |
| --- | --- | --- |
| property_summaries | RECORD | REPEATED |
| account | STRING | NULLABLE |
| display_name | STRING | NULLABLE |
| name | STRING | NULLABLE |

</details>
</span>

<span>
<details>
<summary>ga4_accounts</summary>

| field name | type | mode |
| --- | --- | --- |
| deleted | BOOLEAN | NULLABLE |
| region_code | STRING | NULLABLE |
| name | STRING | NULLABLE |
| update_time | TIMESTAMP | NULLABLE |
| create_time | TIMESTAMP | NULLABLE |
| display_name | STRING | NULLABLE |

</details>
</span>

<span>
<details>
<summary>ga4_audiences</summary>

| field name | type | mode |
| --- | --- | --- |
| name | STRING | NULLABLE |
| display_name | STRING | NULLABLE |
| description | STRING | NULLABLE |
| membership_duration_days | INTEGER | NULLABLE |
| ads_personalization_enabled | BOOLEAN | NULLABLE |
| property_display_name | STRING | NULLABLE |
| property_name | STRING | NULLABLE |
| property | STRING | NULLABLE |
| event_trigger | RECORD | NULLABLE |
| filter_clauses | STRING | NULLABLE |
| exclusion_duration_mode | STRING | NULLABLE |

</details>
</span>

<span>
<details>
<summary>ga4_conversion_events</summary>

| field name | type | mode |
| --- | --- | --- |
| property | STRING | NULLABLE |
| custom | BOOLEAN | NULLABLE |
| deletable | BOOLEAN | NULLABLE |
| create_time | TIMESTAMP | NULLABLE |
| property_display_name | STRING | NULLABLE |
| event_name | STRING | NULLABLE |
| name | STRING | NULLABLE |

</details>
</span>

<span>
<details>
<summary>ga4_custom_dimensions</summary>

| field name | type | mode |
| --- | --- | --- |
| property | STRING | NULLABLE |
| display_name | STRING | NULLABLE | 
| name | STRING | NULLABLE | 
| scope | STRING | NULLABLE | 
| parameter_name | STRING | NULLABLE | 
| disallow_ads_personalization | BOOLEAN | NULLABLE | 
| property_display_name | STRING | NULLABLE | 
| description | STRING | NULLABLE | 

</details>
</span>

<span>
<details>
<summary>ga4_custom_metrics</summary>

| field name | type | mode |
| --- | --- | --- |
| measurement_unit | INTEGER | NULLABLE | 
| display_name | STRING | NULLABLE | 
| name | STRING | NULLABLE | 
| scope | STRING | NULLABLE | 
| parameter_name | STRING | NULLABLE | 
| property_display_name | STRING | NULLABLE | 
| description | STRING | NULLABLE | 
| property | STRING | NULLABLE | 

</details>
</span>

<span>
<details>
<summary>ga4_data_streams</summary>

| field name | type | mode |
| --- | --- | --- |
| | | |
| property | STRING | NULLABLE | 
| display_name | STRING | NULLABLE | 
| name | STRING | NULLABLE | 
| update_time | TIMESTAMP | NULLABLE | 
| create_time | TIMESTAMP | NULLABLE | 
| property_display_name | STRING | NULLABLE | 
| type | STRING | NULLABLE | 
| web_stream_data | RECORD | NULLABLE | 
| android_app_stream_data | RECORD | NULLABLE | 
| ios_app_stream_data | RECORD | NULLABLE | 

</details>
</span>

<span>
<details>
<summary>ga4_dv360_link_proposals</summary>

| field name | type | mode |
| --- | --- | --- |
| advertiser_id | STRING | NULLABLE | 
| link_proposal_status_details | RECORD | NULLABLE | 
| validation_email | STRING | NULLABLE | 
| name | STRING | NULLABLE | 
| property_display_name | STRING | NULLABLE | 
| ads_personalization_enabled | BOOLEAN | NULLABLE | 
| property | STRING | NULLABLE | 
| advertiser_display_name | STRING | NULLABLE | 
| cost_data_sharing_enabled | BOOLEAN | NULLABLE | 
| campaign_data_sharing_enabled | BOOLEAN | NULLABLE | 

</details>
</span>

<span>
<details>
<summary>ga4_dv360_links</summary>

| field name | type | mode |
| --- | --- | --- |
| campaign_data_sharing_enabled | BOOLEAN | NULLABLE | 
| name | STRING | NULLABLE | 
| cost_data_sharing_enabled | BOOLEAN | NULLABLE | 
| ads_personalization_enabled | BOOLEAN | NULLABLE | 
| advertiser_id | STRING | NULLABLE | 
| advertiser_display_name | STRING | NULLABLE | 
| property | STRING | NULLABLE | 
| property_display_name | STRING | NULLABLE | 

</details>
</span>

<span>
<details>
<summary>ga4_firebase_links</summary>

| field name | type | mode |
| --- | --- | --- |
| property | STRING | NULLABLE | 
| create_time | TIMESTAMP | NULLABLE | 
| project | STRING | NULLABLE | 
| property_display_name | STRING | NULLABLE | 
| name | STRING | NULLABLE | 

</details>
</span>

<span>
<details>
<summary>ga4_google_ads_links</summary>

| field name | type | mode |
| --- | --- | --- |
| update_time | TIMESTAMP | NULLABLE | 
| property | STRING | NULLABLE | 
| ads_personalization_enabled | BOOLEAN | NULLABLE | 
| name | STRING | NULLABLE | 
| property_display_name | STRING | NULLABLE | 
| can_manage_clients | BOOLEAN | NULLABLE | 
| creator_email_address | STRING | NULLABLE | 
| customer_id | STRING | NULLABLE | 
| create_time | TIMESTAMP | NULLABLE | 

</details>
</span>

<span>
<details>
<summary>ga4_measurment_protocol_secrets</summary>

| field name | type | mode |
| --- | --- | --- |
| name | STRING | NULLABLE | 
| display_name | STRING | NULLABLE | 
| secret_value | STRING | NULLABLE | 
| stream_name | STRING | NULLABLE | 
| type | STRING | NULLABLE | 
| property | STRING | NULLABLE | 
| property_display_name | STRING | NULLABLE | 
| web_stream_data | STRING | NULLABLE | 
| update_time | TIMESTAMP | NULLABLE | 
| create_time | TIMESTAMP | NULLABLE | 

</details>
</span>

<span>
<details>
<summary>ga4_properties</summary>

| field name | type | mode |
| --- | --- | --- |
| google_signals_settings | RECORD | NULLABLE | 
| data_sharing_settings | RECORD | NULLABLE | 
| attribution_settings | RECORD | NULLABLE | 
| name | STRING | NULLABLE | 
| service_level | STRING | NULLABLE | 
| parent | STRING | NULLABLE | 
| currency_code | STRING | NULLABLE | 
| time_zone | STRING | NULLABLE | 
| account | STRING | NULLABLE | 
| expire_time | STRING | NULLABLE | 
| update_time | TIMESTAMP | NULLABLE | 
| display_name | STRING | NULLABLE | 
| industry_category | STRING | NULLABLE | 
| delete_time | STRING | NULLABLE | 
| create_time | TIMESTAMP | NULLABLE | 
| property_type | STRING | NULLABLE | 

</details>
</span>

<span>
<details>
<summary>ua_account_summaries</summary>

| field name | type | mode |
| --- | --- | --- |
| name | STRING | NULLABLE | 
| kind | STRING | NULLABLE | 
| webProperties | RECORD | REPEATED | 
| id | INTEGER | NULLABLE | 

</details>
</span>

<span>
<details>
<summary>ua_audiences</summary>

| field name | type | mode |
| --- | --- | --- |
| linkedAdAccounts | RECORD | REPEATED | 
| updated | TIMESTAMP | NULLABLE | 
| description | STRING | NULLABLE | 
| internalWebPropertyId | INTEGER | NULLABLE | 
| stateBasedAudienceDefinition | RECORD | NULLABLE | 
| webPropertyId | STRING | NULLABLE | 
| id | STRING | NULLABLE | 
| accountId | INTEGER | NULLABLE | 
| kind | STRING | NULLABLE | 
| name | STRING | NULLABLE | 
| created | TIMESTAMP | NULLABLE | 
| linkedViews | INTEGER | REPEATED | 
| audienceType | STRING | NULLABLE | 
| audienceDefinition | RECORD | NULLABLE | 

</details>
</span>

<span>
<details>
<summary>ua_custom_dimensions</summary>

| field name | type | mode |
| --- | --- | --- |
| updated | TIMESTAMP | NULLABLE | 
| webPropertyId | STRING | NULLABLE | 
| active | BOOLEAN | NULLABLE | 
| id | STRING | NULLABLE | 
| accountId | INTEGER | NULLABLE | 
| index | INTEGER | NULLABLE | 
| kind | STRING | NULLABLE | 
| name | STRING | NULLABLE | 
| created | TIMESTAMP | NULLABLE | 
| scope | STRING | NULLABLE | 
| parentLink | RECORD | NULLABLE | 
| selfLink | STRING | NULLABLE |

</details>
</span>

<span>
<details>
<summary>ua_custom_metrics</summary>

| field name | type | mode |
| --- | --- | --- |
| updated | TIMESTAMP | NULLABLE | 
| max_value | STRING | NULLABLE | 
| min_value | INTEGER | NULLABLE | 
| webPropertyId | STRING | NULLABLE | 
| active | BOOLEAN | NULLABLE | 
| id | STRING | NULLABLE | 
| accountId | INTEGER | NULLABLE | 
| index | INTEGER | NULLABLE | 
| kind | STRING | NULLABLE | 
| name | STRING | NULLABLE | 
| created | TIMESTAMP | NULLABLE | 
| scope | STRING | NULLABLE | 
| parentLink | RECORD | NULLABLE | 
| type | STRING | NULLABLE | 
| selfLink | STRING | NULLABLE | 

</details>
</span>

<span>
<details>
<summary>ua_filter_links</summary>

| field name | type | mode |
| --- | --- | --- |
| kind | STRING | NULLABLE | 
| rank | INTEGER | NULLABLE | 
| filterRef | RECORD | NULLABLE | 
| profileRef | RECORD | NULLABLE | 
| id | STRING | NULLABLE | 
| selfLink | STRING | NULLABLE | 

</details>
</span>

<span>
<details>
<summary>ua_filters</summary>

| field name | type | mode |
| --- | --- | --- |
| updated | TIMESTAMP | NULLABLE | 
| uppercaseDetails | RECORD | NULLABLE | 
| lowercaseDetails | RECORD | NULLABLE | 
| excludeDetails | RECORD | NULLABLE | 
| includeDetails | RECORD | NULLABLE | 
| id | INTEGER | NULLABLE | 
| accountId | INTEGER | NULLABLE | 
| kind | STRING | NULLABLE | 
| name | STRING | NULLABLE | 
| created | TIMESTAMP | NULLABLE | 
| advancedDetails | RECORD | NULLABLE | 
| searchAndReplaceDetails | RECORD | NULLABLE | 
| parentLink | RECORD | NULLABLE | 
| type | STRING | NULLABLE | 
| selfLink | STRING | NULLABLE | 

</details>
</span>

<span>
<details>
<summary>ua_goals</summary>

| field name | type | mode |
| --- | --- | --- |
| kind | STRING | NULLABLE | 
| visitTimeOnSiteDetails | RECORD | NULLABLE | 
| name | STRING | NULLABLE | 
| created | TIMESTAMP | NULLABLE | 
| urlDestinationDetails | RECORD | NULLABLE | 
| updated | TIMESTAMP | NULLABLE | 
| value | INTEGER | NULLABLE | 
| visitNumPagesDetails | RECORD | NULLABLE | 
| internalWebPropertyId | INTEGER | NULLABLE | 
| eventDetails | RECORD | NULLABLE | 
| webPropertyId | STRING | NULLABLE | 
| active | BOOLEAN | NULLABLE | 
| profileId | INTEGER | NULLABLE | 
| parentLink | RECORD | NULLABLE | 
| type | STRING | NULLABLE | 
| id | INTEGER | NULLABLE | 
| selfLink | STRING | NULLABLE | 
| accountId | INTEGER | NULLABLE | 

</details>
</span>

<span>
<details>
<summary>ua_google_ads_links</summary>

| field name | type | mode |
| --- | --- | --- |
| kind | STRING | NULLABLE | 
| name | STRING | NULLABLE | 
| adWordsAccounts | RECORD | REPEATED | 
| entity | RECORD | NULLABLE | 
| profileIds | STRING | REPEATED | 
| id | STRING | NULLABLE | 
| selfLink | STRING | NULLABLE | 

</details>
</span>

<span>
<details>
<summary>ua_segments</summary>

| field name | type | mode |
| --- | --- | --- |
| definition | STRING | NULLABLE | 
| kind | STRING | NULLABLE | 
| updated | TIMESTAMP | NULLABLE | 
| segmentId | STRING | NULLABLE | 
| created | TIMESTAMP | NULLABLE | 
| type | STRING | NULLABLE | 
| id | STRING | NULLABLE | 
| selfLink | STRING | NULLABLE | 
| name | STRING | NULLABLE | 

</details>
</span>

<span>
<details>
<summary>ua_views</summary>

| field name | type | mode |
| --- | --- | --- |
| currency | STRING | NULLABLE | 
| eCommerceTracking | BOOLEAN | NULLABLE | 
| webPropertyId | STRING | NULLABLE | 
| timezone | STRING | NULLABLE | 
| id | INTEGER | NULLABLE | 
| accountId | INTEGER | NULLABLE | 
| botFilteringEnabled | BOOLEAN | NULLABLE | 
| stripSiteSearchCategoryParameters | BOOLEAN | NULLABLE | 
| siteSearchCategoryParameters | STRING | NULLABLE | 
| type | STRING | NULLABLE | 
| updated | TIMESTAMP | NULLABLE | 
| excludeQueryParameters | STRING | NULLABLE | 
| internalWebPropertyId | INTEGER | NULLABLE | 
| childLink | RECORD | NULLABLE | 
| enhancedECommerceTracking | BOOLEAN | NULLABLE | 
| parentLink | RECORD | NULLABLE | 
| permissions | RECORD | NULLABLE | 
| defaultPage | STRING | NULLABLE | 
| kind | STRING | NULLABLE | 
| stripSiteSearchQueryParameters | BOOLEAN | NULLABLE | 
| name | STRING | NULLABLE | 
| created | TIMESTAMP | NULLABLE | 
| siteSearchQueryParameters | STRING | NULLABLE | 
| websiteUrl | STRING | NULLABLE | 
| starred | BOOLEAN | NULLABLE | 
| selfLink | STRING | NULLABLE | 

</details>
</span>


### Views
<span>
<details>
<summary>ga4_settings_joined</summary>

| field name | type | mode |
| --- | --- | --- |
| date | TIMESTAMP | NULLABLE | 
| account_id | INTEGER | NULLABLE | 
| account_display_name | STRING | NULLABLE | 
| account_create_time | TIMESTAMP | NULLABLE | 
| account_update_time | TIMESTAMP | NULLABLE | 
| account_deleted | BOOLEAN | NULLABLE | 
| ga4_property_id | STRING | NULLABLE | 
| ga4_property_display_name | STRING | NULLABLE | 
| ga4_property_signals_state | STRING | NULLABLE | 
| ga4_property_timezone | STRING | NULLABLE | 
| ga4_property_industry_category | STRING | NULLABLE | 
| ga4_property_create_time | TIMESTAMP | NULLABLE | 
| ga4_property_last_update_time | TIMESTAMP | NULLABLE | 
| ga4_property_type | STRING | NULLABLE | 
| ga4_property_reset_user_data_state | BOOLEAN | NULLABLE | 
| ga4_property_event_data_retention_period | STRING | NULLABLE | 
| ga4_property_service_level | STRING | NULLABLE | 
| ga4_property_currency_code | STRING | NULLABLE | 
| ga4_audience_id | STRING | NULLABLE | 
| ga4_audience_display_name | STRING | NULLABLE | 
| ga4_audience_description | STRING | NULLABLE | 
| ga4_data_stream_name | STRING | NULLABLE | 
| ga4_data_stream_display_name | STRING | NULLABLE | 
| ga4_data_stream_create_time | TIMESTAMP | NULLABLE | 
| ga4_data_stream_update_time | TIMESTAMP | NULLABLE | 
| ga4_data_stream_name_1 | STRING | NULLABLE | 
| ga4_data_stream_type | STRING | NULLABLE | 
| ga4_data_stream_id | STRING | NULLABLE | 

</details>
</span>

<span>
<details>
<summary>ua_settings_joined</summary>

| field name | type | mode |
| --- | --- | --- |
| date | TIMESTAMP | NULLABLE | 
| account_id | INTEGER | NULLABLE | 
| account_name | STRING | NULLABLE | 
| ua_view_id | INTEGER | NULLABLE | 
| ua_view_name | STRING | NULLABLE | 
| ua_property_id | STRING | NULLABLE | 
| ua_view_currency | STRING | NULLABLE | 
| ua_view_ecommerce_tracking | BOOLEAN | NULLABLE | 
| ua_view_timezone | STRING | NULLABLE | 
| ua_view_bot_filtering | BOOLEAN | NULLABLE | 
| ua_view_type | STRING | NULLABLE | 
| ua_view_last_update_time | TIMESTAMP | NULLABLE | 
| ua_view_kind | STRING | NULLABLE | 
| ua_view_create_time | TIMESTAMP | NULLABLE | 
| ua_view_url | STRING | NULLABLE | 

</details>
</span>


### Retention
Partitions are set to expire after 1 year.
