---
title: Google Analytics 4 user interface best practice
weight: 1
last_reviewed_on: 2024-04-23
review_in: 6 months
---

# Google Analytics 4 user interface best practice
<span style="color:red">This page is a work in progress.</span>

The GOV.UK GA4 data can be accessed via the [Google Analytics 4 user interface](https://analytics.google.com/analytics/web/).

If you do not have access to this, please follow the [GOV.UK GA access process](/processes/ga-access/).

In the GA4 interface, you can inspect the data using [reports](https://support.google.com/analytics/answer/9212670) and [explorations](https://support.google.com/analytics/answer/7579450).

### GA4 interface best practice

Pay attention to the [data quality icons](https://support.google.com/analytics/answer/12856703) which can be found throughout the GA4 interface.
These indicate whether the data in question is [sampled](https://support.google.com/analytics/answer/13331292), has [thresholding](https://support.google.com/analytics/answer/9383630) applied, or is affected by [cardinality](https://support.google.com/analytics/answer/12226705).

In explorations, clicking on the data quality icon in the top right corner will tell you what percentage of the data your report is currently based on.
In most cases, if you select ‘More detailed results’ in the dropdown, you will be able to get an exploration based on 100% of the raw data without needing to request an [unsampled exploration](https://support.google.com/analytics/answer/10896953).

Be particularly careful when using same-day data.
GA4 data on GOV.UK [takes several hours to be processed](https://support.google.com/analytics/answer/12233314?hl=en&ref_topic=13818299&sjid=14243600463504287898-EU), so same-day data is often very unreliable.
It is usually better to set your date range to exclude today's data, unless there is a specific reason you need to look at today.
