---
title: GA access
weight: 1
last_reviewed_on: 2023-12-06
review_in: 6 months
hide_in_navigation: true
---

# GA access
<span style="color:red">**This page is a draft policy**</span>.

## What we provide access to
We provice access to:

 - Read access to Universal Analytics views 1a and 2.
 - Analyst Read access to GA4 production property.
 - Read access to BigQuery GA4 data, flattened and raw.
 - Read access to BigQuery Search Console data.

## Who is allowed access
Departments and organisations that publish on www.gov.uk will be allowed access to web analytics.
Access will only be granted to email accounts managed by the department, 
for example gmail accounts will not be allowed access.

There must be an analytics single point of contact (SPOC) nominated who raises requests and administers users.

TODO: Link to SPOC responsibilities

## Monitoring and reporting
Access to Google Analytics is monitored. Inactive accounts will be removed and any suspicious activity flagged.
Reports are be provided to SPOCs showing usage of their users.

## Request access

### GDS staff
Requests for access to Google Analytics should be raised by team members themselves, through the [GDS Internal IT Support Tool](https://gdshelpdesk.digital.cabinet-office.gov.uk/helpdesk/WebObjects/Helpdesk.woa). It should be raised under "GDS IT Requests" -> "People & Accounts" -> "Google Analytics".

### Other government employees
SPOCs should raise a request via the Analytics Support Form via Sign-On [Government Support Form](https://signon.publishing.service.gov.uk/users/sign_in).

## Using the data
Data must only be used for Civil Service work.
It is OK to authorise tools such as Excel Plugins and Python or R scripts to access GA data provided that the system is running on your local machine. 
Data must not be processed via a third-party or cloud-based system.
TODO: what are users allowed to do and not do