---
title: Historic GA data
weight: 7
last_reviewed_on: 2024-02-13
review_in: 6 months
hide_in_navigation: true
---

# Historic GA data
<span style="color:red">**This page is a draft policy**</span>.

Historic Google Analytics data is stored for a number of agreed GDS Universal Analytics properties.
This includes the [Universal Analytics data for www.gov.uk](/data-sources/ga/ua/).

## Access
Access to this historic data is currently heavily limited. 
The access processes and policies for both GDS and cross-government users will be determined in the next few months.

### Location
The various historic Google Analytics datasets are primarily located in BigQuery in the `gds-ga-archive` project.
Two datasets are currently stored in other projects and will be moved to the `gds-ga-archive` project in due course.

Information on the quotas applicable to this project can be found in the information on [GCP](/gcp/#gds-ga-archive).