---
title: Analytics Data API best practice
weight: 4
last_reviewed_on: 2024-04-24
review_in: 6 months
---

# Analytics Data API best practice
<span style="color:red">This page is a work in progress.</span>

You can access GOV.UK GA4 data via the [Analytics Data API](https://developers.google.com/analytics/devguides/reporting/data/v1).

### Best practice 

#### Cardinality and sampling

Data extracted from the API can be subject to issues associated with cardinality and sampling.

If you are trying to figure out whether the results of a certain query are impacted by cardinality or sampling, you can use the `dataLossFromOtherRow` or `samplingMetadatas` fields in metadata of the response.

Be particularly careful when using same-day data.
GA4 data on GOV.UK [takes several hours to be processed](https://support.google.com/analytics/answer/12233314?hl=en&ref_topic=13818299&sjid=14243600463504287898-EU), so same-day data is often very unreliable.
It is usually better to set your date range to exclude today's data, unless there is a specific reason you need to look at today.


#### Quotas

Be aware that API queries are subject to the [Google Analytics Data API quotas](https://developers.google.com/analytics/devguides/reporting/data/v1/quotas).