---
title: SPOCS
weight: 2
last_reviewed_on: 2023-12-06
review_in: 6 months
hide_in_navigation: true
---

# SPOCS
<span style="color:red">**This page is a draft policy**</span>.

Every organisation with access to GOV.UK web analytics data needs to have a nominated analytics Single Point of Contact (SPOC).
This person is responsible for raising requests for user administration. Adding new starters, removing leavers or those who no longer need access.

## How to become a SPOC
The nominated SPC will need access to SignON which can be arranged by your content SPOC.
You will need to inform GDS of any SPOC changes via [Government Support Form](https://signon.publishing.service.gov.uk/users/sign_in).

## Changing SPOC
To request a change of SPOC simply raise a request via the Analytics Support Form via Sign-On [Government Support Form](https://signon.publishing.service.gov.uk/users/sign_in) stating who the new SPOC will be.

