---
title: SPOCS
weight: 2
last_reviewed_on: 2023-12-06
review_in: 6 months
hide_in_navigation: true
---

# SPOCS
<span style="color:red">**This page is a draft policy**</span>.

Every organisation with access to GOV.UK web analytics data needs to have a nominated analytics Single Point of Contact (SPOC).
The SPOC is responsible for raising requests for user administration, including to add new starters and remove leavers or those who no longer need access.

## How to become a SPOC
The nominated SPOC will need access to Signon. Access to Signon can be arranged by your organisation's content SPOC.

You will need to inform GDS of any SPOC changes via the [Analytics Support Form](https://support.publishing.service.gov.uk/analytics_request/new).

## Changing SPOC
To request a change of SPOC simply raise a request via the [Analytics Support Form](https://support.publishing.service.gov.uk/analytics_request/new) stating who the new SPOC will be.

