---
title: Understand key GA4 dimensions and metrics
weight: 3
last_reviewed_on: 2024-08-16
review_in: 6 months
---

# Understand key GA4 dimensions and metrics
<span style="color:red">This page is a work in progress.</span>

This page contains information on key GA4 dimensions and metrics and how to use them.

Information on the GOV.UK-specific elements of our analytics implementation can be found on [the page on understanding the GOV.UK GA4 data structure](/analysis/govuk-ga4/understand-ga4/).


## Key GA4 metrics
### Users
Colleagues often ask for analytics data about a page or a service so that they can get a sense of scale, most frequently through a desire to understand the count of people or users: “How many users visited service XXX this year?”. 

Though this seems like a sensible question that Google Analytics (GA) should be able to answer, the notion of counting users is fraught with problems.
In many stakeholders' minds a “user” is a single human, a named person i.e. John Smith working from his laptop or his mobile phone. 

This is not how Google Analytics defines a user.
Broadly speaking, in GA4, a GA user is a device and browser or app combination. A user is a client ID - a cookie value assigned to a browser which allows Google Analytics to identify a unique user across browsing sessions, but it cannot identify unique users across different browsers or devices i.e. John Smith working on his laptop is a different “user” to John Smith on his mobile phone.
This problem is exacerbated depending on the operating system and browser used. For example, iOS and Safari automatically delete cookies after seven days i.e. if John Smith working on his laptop with his iPhone could be counted as five “users” in one month using the naive approach (this multiple counting of these “users” is suggested by the data).
There is currently no way of deduplicating devices for users, so the user count is overinflated.

We recommend that in most cases session counts are used rather than the misleading “user” figures. 

If you are using the 'users' metric, bear in mind that in many reports in the GA4 user interface ‘Users’ is actually ‘Active users’.
Active users are users with at least one ‘engaged session’.
Engaged sessions are sessions that lasted 10 seconds or longer, or had 1 or more conversion events (at the moment we have [no conversion events set up on GOV.UK](/data-sources/ga/ga4/#data-processing-and-modification)), or 2 or more page or screen views. 
‘Total users’ in GA4 is the equivalent of ‘Users’ in UA.

### Sessions
A session in Google Analytics is defined as a group of user interactions with a website that take place within a given time frame (a session ends when there has been more than a 30-minute period of inactivity).
If a user leaves www.gov.uk to go to another website but returns to www.gov.uk within 30 minutes, this activity will all count as one session.
A single user can open multiple sessions, e.g. if John Smith visits GOV.UK on his laptop on Friday and Saturday, that will be counted as one “user” having two sessions. 

### Event count

GA4 data is structured around [events](https://support.google.com/analytics/answer/9322688?hl=en#zippy=%2Crealtime-report%2Cdebugview-report).
