---
title: DISCO
weight: 20
last_reviewed_on: 2024-11-15
review_in: 6 months
---

<% content_for :head do %>
  <%= partial 'partials/cookie_wrapper' %>
<% end %>

# DISCO
<span style="color:red">This page is a work in progress.</span>

DISCO is a tool to visualise user journeys of users moving through GOV.UK

## DISCO prep tool

The [DISCO prep tool](https://34.160.219.127.nip.io/) helps generate a CSV that can be used in DISCO.

The DISCO prep tool was [first created in February 2023](https://github.com/zilnhoj/disco_prep/commits/main/).


