---
title: DISCO prep tool
weight: 53
last_reviewed_on: 2024-11-12
review_in: 6 months
---

# DISCO prep tool
<span style="color:red">This page is a work in progress.</span>

The [DISCO prep tool](https://lookerstudio.google.com/reporting/306f1e28-a2c1-4d3a-b03c-ae03ac0c9484) helps generate a CSV that can be used in DISCO.
