---
title: DISCO prep tool
weight: 53
last_reviewed_on: 2024-11-12
review_in: 6 months
---

# DISCO prep tool
<span style="color:red">This page is a work in progress.</span>

The DISCO prep tool helps generate a CSV that can be used in DISCO.

The DISCO prep tool was [first created in February 2023](https://github.com/zilnhoj/disco_prep/commits/main/).

